* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;

    #container {
        display: flex;
        margin: 14em 0;
        flex-direction: column;

        #title {
            margin: 11rem 0 0 53.6rem;
            color: #000F1E;
            font-size: 103px;
            top: 25rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        #btn>button {
            background-color: #E5E7E8;
            color: #292929d8;
            font-size: 15px;
            font-weight: 600;
            cursor: pointer;
            width: 200px;
            height: 48px;
            border: none;
            border-radius: 9999px;

        }

        #btn {
            display: flex;
            gap: 23px;
            position: absolute;
            margin: 21rem 37.5rem;
            align-self: flex-end;

            #red {
                background-color: #DB0A40;
                color: #fff;
            }

            #white:hover {
                background-color: #D9DCDE;
            }
        }

        #redbull {
            position: absolute;
            width: 210px;
            margin: 3.4rem 26.4rem;
        }
    }
}